name: Trigger auto deployment for fasdacserasfadsf

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/fasdacserasfadsf-AutoDeployTrigger-bd040f67-c9c7-4aae-8ebe-bfa17e671ced.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.FASDACSERASFADSF_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.FASDACSERASFADSF_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.FASDACSERASFADSF_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }} 
          registryUrl: 
          registryUsername: ${{ secrets.FASDACSERASFADSF_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.FASDACSERASFADSF_REGISTRY_PASSWORD }}
          containerAppName: fasdacserasfadsf
          resourceGroup: tm-test-new-1
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          


