name: Trigger auto deployment for tmcontainerapp

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/tmcontainerapp-AutoDeployTrigger-68c00a4b-3bb4-42fb-b439-16ac3e428790.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.TMCONTAINERAPP_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }} 
          registryUrl: tmregtest.azurecr.io
          registryUsername: ${{ secrets.TMCONTAINERAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.TMCONTAINERAPP_REGISTRY_PASSWORD }}
          containerAppName: tmcontainerapp
          resourceGroup: tmauldin-test
          imageToBuild: tmregtest.azurecr.io/tmcontainerapp:${{ github.sha }}
          

     

