name: Trigger auto deployment for tmtest-with-testrepo

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/tmtest-with-testrepo-AutoDeployTrigger-22911b1a-cb00-4dd0-9953-90bea1cdd779.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.TMTESTWITHTESTREPO_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.TMTESTWITHTESTREPO_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.TMTESTWITHTESTREPO_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@d7d06e687ee7ed845cf7aee49a81b30cc6ec1960
        with:
          appSourcePath: ${{ github.workspace }} 
          registryUrl: tmregtest.azurecr.io
          registryUsername: ${{ secrets.TMTESTWITHTESTREPO_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.TMTESTWITHTESTREPO_REGISTRY_PASSWORD }}
          containerAppName: tmtest-with-testrepo
          resourceGroup: tmauldin-test
          imageToBuild: tmregtest.azurecr.io/tmtest-with-testrepo:${{ github.sha }}
          


