name: Trigger auto deployment for tmtestsamerg-bugbash

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/tmtestsamerg-bugbash-AutoDeployTrigger-d0b7d250-7043-45ac-9efd-f42109530bf4.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.TMTESTSAMERGBUGBASH_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.TMTESTSAMERGBUGBASH_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.TMTESTSAMERGBUGBASH_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }} 
          registryUrl: 
          registryUsername: ${{ secrets.TMTESTSAMERGBUGBASH_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.TMTESTSAMERGBUGBASH_REGISTRY_PASSWORD }}
          containerAppName: tmtestsamerg-bugbash
          resourceGroup: tmauldin-test
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          


