name: Trigger auto deployment for tmtest1234563

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/tmtest1234563-AutoDeployTrigger-709df887-1035-42ee-a2b7-ce1aef524a6a.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.TMTEST1234563_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.TMTEST1234563_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.TMTEST1234563_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }} 
          registryUrl: 
          registryUsername: ${{ secrets.TMTEST1234563_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.TMTEST1234563_REGISTRY_PASSWORD }}
          containerAppName: tmtest1234563
          resourceGroup: tmauldin-test
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          


